In [1]:
#September 30, 2021
#Estes sao os arquivos relevantes para assignee e location
#data/location.tsv.zip contem dados da localidade (city, country devem ser os mais relevantes)
#data/assignee.tsv.zip relaciona inventor (quando e' individuo) ou assignee
#data/patent_assignee.tsv.zip faz o de-para entre patentes, locations e assignees

# podemos trabalhar com id ou com os dados em si
# vale criar uma dummy para diferenciar assignee de inventor solo
# trabalhar com id diminui esforco computacional

# por ora, trabalhar somente com data/patent_assignee.tsv.zip
# introduzir as outras tabelas a posteriori


import pandas as pd

In [2]:
location='data/location.tsv.zip'

df=pd.read_csv(location, compression='zip', sep='\t')

In [3]:
df.head()

,id,city,state,country,latitude,longitude,county,state_fips,county_fips
0,000016d0-cb8f-11eb-9615-121df0c29c1e,Saishi,NaN,JP,NaN,NaN,NaN,NaN,NaN
1,000030ea-cb8f-11eb-9615-121df0c29c1e,Wendeng City,NaN,TW,NaN,NaN,NaN,NaN,NaN
2,00005b4c-cb8f-11eb-9615-121df0c29c1e,Dong Ahn-Gu,NaN,KR,NaN,NaN,NaN,NaN,NaN
3,00006da3-cb90-11eb-9615-121df0c29c1e,Alder,MT,US,45.3247,-112.108,NaN,30.0,30057.0
4,00007faf-cb91-11eb-9615-121df0c29c1e,Kentifield,CA,US,NaN,NaN,NaN,6.0,NaN

In [2]:
location='data/patent_assignee.tsv.zip'

df=pd.read_csv(location, compression='zip', sep='\t')

df.head()

/home/renato/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,patent_id,assignee_id,location_id
0,10000000,116d3290-ce7d-4021-9ea8-b57388683682,3c7210b6-cb8e-11eb-9615-121df0c29c1e
1,10000001,4409b75e-3895-44c3-849d-fe686e43bac1,3c7d8998-cb8e-11eb-9615-121df0c29c1e
2,10000002,e9716b2c-8197-45e5-b952-360a34433a65,3c84c263-cb8e-11eb-9615-121df0c29c1e
3,10000003,9507d7d6-54b7-48bc-a9a2-4731eaef3edb,3c99a223-cb8e-11eb-9615-121df0c29c1e
4,10000004,e653c7e8-532d-4a49-9966-615a1bd49846,ccd5c422-cb90-11eb-9615-121df0c29c1e

In [3]:
location='data/assignee.tsv.zip'

df=pd.read_csv(location, compression='zip', sep='\t')

df.head()

,id,type,name_first,name_last,organization
0,0000040e-8bda-43f7-846b-bfb66a53a7a3,2.0,NaN,NaN,ACCU Science Corporation
1,00001221-4149-4191-a41a-bf427e7a155c,2.0,NaN,NaN,Huntsman Intenational LLC
2,00001646-8c5e-4a7a-bc8f-886b1167654c,2.0,NaN,NaN,"GE Marquette Medical Systems, Inc."
3,00005840-fdb0-440f-9f29-93a4c4eaf350,3.0,NaN,NaN,"S{dot over (u)}mitomo Metal Industries, Ltd."
4,00007637-8dde-4494-b9a6-e77ac869f482,5.0,Guenther,Hambitzer,NaN